html {
	background-color: #2F2F2F;
}

body, #mainWrapper {
	height: 100%;
	
}

body, #mainWrapper, .form-control {
	font-size: 12px !important;
}

#mainWrapper {
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#authHeaderWrapper {
	clear: both;
	width: 100%;
	height: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.login-container {
	margin-top: 100px;
	background-color: floralwhite;
	width: 40%;
	left: 30%;
	position: absolute;
}

.login-card {
	width: 80%;
	margin: auto;
}

.login-form {
	padding: 10%;
}